.inicio{
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0,0,0, var(--opacidad-negro)), rgba(0,0,0, var(--opacidad-negro))),url("../IMG/DreamShaper_v7_ropa_de_hombre_casual_con_varios_estilos_0-_1_.webp");
    background-position: center;
    background-size: cover;
    height: 50rem;
}

.navbar-brand{
    font-size: 1.3rem;
    color:lavender;
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color:lavender;
}

.navbar{
    background-color:#CCB28D;
}